:root {
  --backgrounColor: #ffd6a5;
  --headerColor: #ffadad;
  --cardsColor: #fdffb6;
  --buttonColor: #fffffc;
  --buttonBorderColor: #a0c4ff;
  --buttonHoverColor: #a0c4ff;
}

body {
  background-color: var(--backgrounColor);
}

header {
  background-color: var(--headerColor);
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  height: 15vh;
  font-size: 2vh;
}

.beginner {
  background-image: url("./images/reversoCarta.jpg");
  background-size: 100% 100%;
  background-color: var(--cardsColor);
  border: none;
  width: 35%;
  height: 20vh;
  border-radius: 8px;
}

.medium {
  background-image: url("./images/reversoCarta.jpg");
  background-size: 100% 100%;
  background-color: var(--cardsColor);
  border: none;
  border-radius: 8px;
  width: 40%;
  height: 15vh;
}

.expert {
  background-image: url("./images/reversoCarta.jpg");
  background-size: 100% 100%;
  background-color: var(--cardsColor);
  border: none;
  border-radius: 8px;
  width: 30%;
  height: 15vh;
}

.beginner,
.medium,
.expert:hover {
  cursor: pointer;
}

.content {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.playAgain {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  border: 6px solid var(--buttonBorderColor);
  background-color: var(--buttonColor);
  cursor: pointer;
}

.playAgain:hover {
  background-color: var(--buttonHoverColor);
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

form {
  height: 15vh;
  font-size: 2vh;
}
@media only screen and (orientation: landscape) {
  .beginner {
    width: 30%;
    height: 30vh;
  }

  .medium {
    width: 22%;
    height: 30vh;
  }

  .expert {
    width: 22%;
    height: 20vh;
  }

  header {
    font-size: 4vh;
  }

  .playAgain {
    font-size: 4vh;
  }

  form {
    font-size: 4vh;
  }
}
